@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #00f0ff;
  --black: #333333;
  --secondary-color: rgb(43, 43, 43);
  --text-color: #bfbfbf;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  background-image: url(./images/background.svg);
  background-attachment: fixed;
  text-align: center;
  min-width: 600px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Header */

header {
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-bottom-right-radius: 20px;
}

header h1 {
  font-family: "Megrim", cursive;
  text-align: initial;
}

nav {
  text-align: right;
  font-size: 20px;
  margin-top: 20px;
  min-width: 540px;
}

nav > a {
  padding: 0 0.5rem;
}

nav > span{
  margin: 20px;
}

.active{
  background-color: var(--primary-color);
  color: black;
  padding: 0 0.5rem;
  font-weight: bold;
}

.active-a{
  color : black;
}

/* Main */

main {
  margin: 0 0 7rem;
}

.main h1,h3 {
  margin: 1rem;
  color: var(--primary-color);
}

.main hr{
  width: 80%;
  margin:auto
}


/*  Input */

.input-label {
  font-size: larger;
  color: var(--primary-color);
  width: 256px;
}

.input-label p {
  font-size: larger;
  margin: 0.5rem;
}

.input-text {
  font-size: 1.2rem;
  outline: var(--primary-color);
  padding: 0.6rem 1rem;
  margin: 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 258px;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.btn-check {
  background: var(--primary-color);
  border: none;
  color: black;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  font-size: large;
  cursor: pointer;
  outline: #fff;
  margin: 1rem auto;
  display: block;
}

.output {
  font-size: x-large;
  margin: 1rem;
  color: white
}

.output-span{
  color: var(--primary-color);
}

a{
  display: inline;
  color: #fff;
}

.main{
  background-color: var(--secondary-color);
  max-width: fit-content;
  margin: auto;
  padding: 1rem;
  margin-top: 20px;
  border-radius: 1rem;
}

.main > h1{
  color : var(--primary-color);
}

h3{
  color:white
}